importFrom("stats", "confint", "na.omit", "get_all_vars", "predict", "qnorm", "qt", "median", "terms", "quantile", "sd", "time", "update", "plogis", "vcov")
importFrom("utils", "tail", "data")
importFrom("compare", "compare")
importFrom("BBmisc", "is.error")
importFrom("rms", "survest")
importFrom("plotly", "plotlyOutput", "renderPlotly", "ggplotly")

import(ggplot2)
import(shiny)
import(stargazer)
import(survival)
import(dplyr)
import(magrittr)

export(DynNom)
export(DynNom.core)
export(DynNom.surv)
export(DNbuilder)
export(DNbuilder.core)
export(DNbuilder.surv)
export(getclass.DN)
export(getpred.DN)
export(getdata.DN)
