importFrom("stats", "confint", "na.omit", "predict", "qnorm", "qt", "median", "terms",
             "quantile", "sd", "time", "update", "plogis", "vcov")
importFrom("utils", "tail", "data")
importFrom("compare", "compare")
importFrom("survival", "survfit")
importFrom("rms", "survest")
importFrom("BBmisc", "is.error")

import(ggplot2)
import(shiny)
import(stargazer)
import(prediction)
import(dplyr)

export(DynNom)
export(DynNom.core)
export(DynNom.surv)
export(DNbuilder)
export(DNbuilder.core)
export(DNbuilder.surv)
export(getclass.DN)
export(getpred.DN)
export(getdata.DN)
